<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>

	<script type="text/javascript" src="//cdn.webix.com/site/webix.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/site/webix.css">
	<link rel="stylesheet" type="text/css" href="./samples.css">

	<script type="text/javascript" src="../sources/webix-ui.js"></script>
	<title>Vue + Webix: DataTable</title>
</head>
<body>
<style>
	.etable td, .etable th{ padding:10px; border-right: 1px solid silver; border-top: 1px solid silver; }
</style>
<div id="demo1"></div>

<script>
	new Vue({
		el: "#demo1",
		template:`
			<div>
				<h3>Vue + Webix: DataTable</h3>
				<p>Webix Datatable</p>

				<webix-ui :config='table' v-model='gridData' />

				<br>
				<p>classic table</p>

				<table class='etable'>
				<tr>
				<th>Value</th><th>Name</th><th>Last</th><th>Address</th>
			    <tr v-for="row in gridData">
			    	<td>{{row.value}}</td><td>{{row.name}}</td><td>{{row.last}}</td><td>{{row.address}}</td>
			    </tr>
  				</table>
			</div>
		`,
		data:{
			gridData:[	
				{ id:1, value:"First", name:"Alex", last:"Russel", address:"Holmes st. 18" },
				{ id:2, value:"Second", name:"Denis", last:"Brown", address:"Greenleaf st. 7" },
				{ id:3, value:"Third", name:"James", last:"Sullivan", address:"Boswell st. 34" }	
			],
			table:{ 
				view:"datatable", autoheight:true, autowidth:true, editable:true, editaction:"click", columns:[
					{ id:"value",	editor:"select", sort:"string",	header:"Section Index" },
					{ id:"name", 	editor:"text",	sort:"string",	header:["First Name", {content:"textFilter"}] },
					{ id:"last", 	editor:"text",	sort:"string",	header:["Last Name", {content:"textFilter"}] },
					{ id:"address",	editor:"text",	sort:"string",	header:["Address", {content:"selectFilter"}], width:150 }
				], on:{
					onAfterEditStop:function(){
						this.$scope.$emit("input", this.serialize() );
					}
				}
			}
		}
	});
</script>
</body>
</html>