<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="//cdn.webix.com/site/webix.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.webix.com/site/webix.css" />
    <link rel="stylesheet" type="text/css" href="./samples.css" />

    <script type="text/javascript" src="../sources/vue-view.js"></script>
    <title>Vue + Webix: "vue" view</title>
  </head>
  <body>
    <script>
      const data = [
        {
          id: 1,
          value: "First",
          name: "Alex",
          last: "Russel",
          address: "Holmes st. 18",
        },
        {
          id: 2,
          value: "Second",
          name: "Denis",
          last: "Brown",
          address: "Greenleaf st. 7",
        },
        {
          id: 3,
          value: "Third",
          name: "James",
          last: "Sullivan",
          address: "Boswell st. 34",
        },
      ];

      const toolbar = {
        view: "toolbar",
        elements: [
          {
            view: "button",
            type: "iconButton",
            icon: "lightbulb-o",
            label: "Hint",
            click: () => {
              webix.message("Select something in the list");
            },
            autowidth: true,
          },
          {},
        ],
      };

      const list = {
        view: "list",
        id: "list",
        select: true,
        width: 250,
        scroll: false,
        template: "#name# #last# (#address#)",
        data,
      };

      const preview = {
        view: "vue",
        id: "preview",
        template: `
					<div>
						<p>This part is rendered by VueJS, data from the list</p>
						<div v-if='last'>
							<p>Selected: {{last}}</p>
							<p>Address: <input v-model='address'></p>
							<button v-on:click="myclick">Info</button>
						</div>
					</div>
				`,
        methods: {
          myclick: () => {
            webix.message("Info button clicked!");
          },
        },
        data: {
          last: "",
          address: "",
        },
        watch: {
          address: (value) => {
            $$("list").updateItem($$("list").getSelectedId(), {
              address: value,
            });
          },
        },
      };

      const stats = {
        view: "vue",
        template: `
					<div>
						<p>This part is rendered by VueJS, static data</p>
						<p>Average Weight: {{weight}}lbs</p>
					</div>
				`,
        data: {
          weight: 244,
        },
      };

      webix.ui({
        rows: [
          toolbar,
          {
            cols: [
              list,
              {
                rows: [preview, stats],
              },
            ],
          },
        ],
      });

      $$("preview").bind("list");
    </script>
  </body>
</html>
