<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>

	<script type="text/javascript" src="//cdn.webix.com/site/webix.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/site/webix.css">

	<script type="text/javascript" src="../sources/vue-view.js"></script>
	<title>Vue + Webix : View "vue"</title>
</head>
<body>

<script>

var data = [
	{ id:1, value:"First", name:"Alex", last:"Russel", address:"Holmes st. 18", },
	{ id:2, value:"Second", name:"Denis", last:"Brown", address:"Greenleaf st. 7" },
	{ id:3, value:"Third", name:"James", last:"Sullivan", address:"Boswell st. 34" },
];

var toolbar = {
	view:"toolbar",
	elements:[
		{ view:"button", type:"iconButton", icon:"lightbulb-o", label:"Hint", click:function(){webix.message("Select something in the list")}, autowidth:true },
		{}
	]
};

var list = {
	view:"list", id:"list", select:true, gravity:0.5,
	template:"#name# #last# (#address#)",
	data:data
};

var preview = {
	view:"vue", id:"preview",
	template:`
		<div>
			<p>This part is rendered by VueJS, data from the list</p>
			<div v-if='last'>
				<p>Selected: {{last}}</p>
				<p>Address: <input v-model='address'></p>
			</div>
		</div>
	`,
	data:{
		last:"",
		address:""
	},
	watch:{
		address:function(value){
			$$("list").updateItem($$("list").getSelectedId(), { address: value });
		}
	}
};

var stats = {
	view:"vue",
	template:`
		<div>
			<p>This part is rendered by VueJS, static data</p>
			<p>Average Weight: {{weight}}lbs</p>
		</div>
	`,
	data:{
		weight: 244
	}
};

webix.ui({
	rows:[
		toolbar,
		{ cols:[
			list,
			{ rows:[ preview, stats ]}
		]}
	]
});

$$("preview").bind("list");

</script>
</body>
</html>